venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

*.pth
*.pt
*.safetensors
*.ckpt
*.bin
TP1/models/

TP1/data/
TP1/outputs/
TP2/inputs/
TP2/outputs/

TP1/report/*.pdf
TP1/report/*.docx
*.pdf
*.docx

.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/